body {
	/*background-color: #7E93A2;*/
	background-color: #333;
}
header {
	height: 108px;
	position: relative;
}
.navigation {
	background-color: #090F0F;
	margin: 10px 10px 0px 10px;
	height: 13px;
	position: absolute;
	bottom: 0;
}
.navigation ul {
	font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}
.navigation li {
	display:inline-block;
	/*margin: 0 10px;
	color: #ffffff;*/
}
.navigation a {
	background: #395870;
	background: linear-gradient(#49708f, #293f50);
	border-right: 1px solid rgba(0, 0, 0, .3);
	color: #fff;
	padding: 12px 20px;
	text-decoration: none;
}
.navigation a:hover {
	background: #314b60;
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a {
    border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}
#tableContainer {
	display: table;
	/*border-spacing: 10px;*/
	width: 100%;
}
#tableRow {
    display: table-row;
}
section#main {
	color: #333;
	display: table-cell;
	padding: 15px;
	vertical-align: top;
	background-color: #eee;
	/*background: linear-gradient(#49708f, #293f50);*/
	width: 70%;
}
.right {
	/*background-color: #395870;
	background: linear-gradient(#49708f, #293f50);*/
	text-align: center;
	color: #333;
	background-color: #eee;
	display: table-cell;
	/*width: 200px;
	height: 817px;*/
	/*border: 2px solid black;*/
	vertical-align: top;
	width: 30%;
}
.right img {
	display: block;
	margin: 0 auto;
}
/*#right ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#right li {
	vertical-align: top;
}
#right img {
	vertical-align: top;
}*/
footer {
  background-image: url('images/mountain.png');
  /*background-color: #675c47;*/
  color: #efe5d0;
  text-align: center;
  padding: 15px;
  /*margin: 0 10px 10px 10px;*/
  font-size: 90%;
}
#validator {
  float: right;
}
#validator a {
  border-bottom: none;
}