body {
	/*background-color: #7E93A2;*/
	font-family: 'Josefin Sans', sans-serif;
	background-color: #333;
}
header {
	height: 108px;
	position: relative;
}
#github{
	position:absolute;top:50px;right:-75px;
	-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	background:#2db34a;color:#fff;
	display:block;
	font-size:14px;font-weight:bold;
	padding:2px 80px;
	text-align:center;text-decoration:none;text-shadow:10px 10px 10px #333;
	-webkit-box-shadow:#999 1px 1px 4px;
	box-shadow:#999 1px 1px 4px;}
#github:hover,#github:focus,#github:active{
	background:#e22c29
	}
@media only screen and (max-width:800px){
	#github{
		display:none
	}
}
nav {
	background-color: #090F0F;
	margin: 10px 10px 0px 10px;
	height: 13px;
	position: absolute;
	bottom: 0;
}
nav ul {
	font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}
nav li {
	display:inline-block;
	/*margin: 0 10px;
	color: #ffffff;*/
}
nav a {
	background: #395870;
	background: linear-gradient(#49708f, #293f50);
	border-right: 1px solid rgba(0, 0, 0, .3);
	color: #fff;
	padding: 12px 20px;
	text-decoration: none;
}
nav a:hover {
	background: #314b60;
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
nav li:first-child a {
    border-radius: 4px 0 0 4px;
}
nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}
nav a.selected {
	background: #314b60;
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
	color: #2db34a;
}
#tableContainer {
	display: table;
	/*border-spacing: 10px;*/
	width: 100%;
}
#tableRow {
    display: table-row;
}
.center {
	text-align: center;
}
section#main {
	font-size: 20px;
	color: #333;
	display: table-cell;
	padding: 15px;
	vertical-align: top;
	background-color: #eee;
	width: 70%;
}
div#poem {
	font-family: 'Josefin Sans', sans-serif;
}
.aside {
	background-color: #eee;
	display: table-cell;
	font-size: 20px;
	vertical-align: top;
}
#right {
	text-align: center;
	color: #333;
	background-color: #eee;
	display: table-cell;
	/*width: 200px;
	height: 817px;*/
	/*border: 2px solid black;*/
	vertical-align: top;
	width: 30%;
}
#right img {
	display: block;
	margin: 0 auto;
}
.centerpar {
	text-align: center;
}
.list {
	display: inline-block;
	text-align: left;
	display: inline-block;
	margin: 0 auto;
	padding: 0px 0px 0px 50px;
}
#navlist ul {
	padding: 0px 0px 50px 50px;
}
/*#right ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#right li {
	vertical-align: top;
}
#right img {
	vertical-align: top;
}*/
footer {
  color: #efe5d0;
  text-align: center;
  padding: 15px;
  /*margin: 0 10px 10px 10px;*/
  font-size: 90%;
  background-image: url("../images/mountain.png");
}
#validator {
  float: right;
}
#htmlvalidator {
  float: left;
}
#validator a {
  border-bottom: none;
}