@font-face {
  font-family: "Emblema One";
  src: url("http://wickedlysmart.com/hfhtmlcss/chapter13/journal/EmblemaOne-Regular.woff"), url("http://wickedlysmart.com/hfhtmlcss/chapter13/journal/EmblemaOne-Regular.ttf");
}
body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
  background: #FFF8DC; /*background color for stylistic purposes.*/
  margin: 0;
  padding: 0;
}
/*border around images*/ 
img {
  border: 2px solid #888888;
}
/* Obtained from Marianne Gibson's page source here: http://209.129.16.61/~mgib/data/webd162/13/journal/journal.html */
#container {
  width: 960px;
  padding: 15px;
  margin: 0 auto; /*The auto value on the sides, coupled with the width, center the layout.*/
  text-align: left;
}
h1, h2 {
  color: #cc6600;
  border-bottom: thin dotted #888888;
}
h1 {
  font-family: "Emblema One", sans-serif;
  font-size: 220%;
}
h2 {
  font-size: 130%;
  font-weight: normal;
}
blockquote {
  font-style: italic;
}
table {
  /*margin-left: 20px;
  margin-right: 20px;*/
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
  background-color: #fff; /*add white background to the entire table so the body background color would not show */
}
td, th {
  border: thin dotted gray;
  padding: 5px;
}
/* Not needed

place the new tr pseudo-class rule above the rule for setting the background color of the <th> row (so the <th> row stays dark orange).
tr:nth-child(odd) {
background-color: #fcba7a;
}
*/
th {
  background-color: #cc6600;
}
caption {
  font-style: italic;
  padding-top: 8px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.cellcolor {
  background-color: #fcba7a; /*alternating row colors */
}

/* Not needed

This style is for the nested dinner rating table 
table table th {
  background-color: white;
} */

/* The li style is for all list items on your webpages */
li {
  list-style-image: url(../images/sj.jpg); /*Added my own image here of SJ */
  padding-top: 5px;
  margin-left: 20px;
}

/* Obtained from Marianne Gibson's page source here: http://209.129.16.61/~mgib/data/webd162/13/journal/journal.html */
footer {
  background-color: #FCBA7A;
  padding: 15px;
  font-size: x-small;
}

/* Obtained from Marianne Gibson's page source here: http://209.129.16.61/~mgib/data/webd162/13/journal/journal.html */
#validator {
  float: right;
}