body {
	font-family: sans-serif;
	background-color: #000000;
}

h1, h2 {    
	color: #FF00FF;
}

h1 { 
	border-bottom: 1px solid black;
}

p {
	color: maroon;
}

p.greentea {
	color: #90EE90;
}

p.raspberry {
	color: #BA55D3;
}

p.blueberry {
	color: #191970;
}

p.cranberry {
	color: #DB7093;
}